@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,700,700i');

body {
    font: 20px 'Montserrat', 'Arial', sans-serif;
    line-height: 1.8;

    color: #f5f6f7;
}
.container-fluid {
    padding-top: 7px;
    padding-bottom: 70px;
}
.bg-1 {
    font-family: 'Indie Flower', 'Arial', cursive;

    color: #000;
    background-color: white;
}
.jumbotron {
    height: 350px;
}
.name {
    font-size: 70px;
}
.projects h3 {
    color: #010102;
}

.page-header {
    margin-top: -180px;

    background-color: white;
}
.certificate {
    width: 356px;
    height: auto;
}
.article {
    display: block;
    width: 500px;
    height: 550px;

    border: 1px solid grey;
    background-color: white;
}
.post__title {
    cursor: pointer;

    color: #5e5e5e;
}
.post__date {
    font-size: 14px;

    cursor: pointer;

    color: #5e5e5e;
}

.post__category {
    font-size: 14px;

    cursor: pointer;

    color: #3c3c3c;
}
